@{
    ViewBag.Title = "About";
}
<style>
    .jumbotron {
        /*background-color: #f4511e; Orange */
        background-image: url("../Content/Images/Forestroad.jpg");
        /*background-repeat: no-repeat;*/
        /*width:100%;*/
        color: #ffffff;
        padding: 100px 25px;
    }

    .title2 {
        margin-left: 100px;
    }

    .col-md-4 {
        align-items: flex-end;
    }
</style>
<div class="jumbotron text-center ">
    <h1><strong>About Us</strong></h1>

    <br /> <br />
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="../Content/Images/NordicTransportImage.jpg" alt="Our Services">

            </div>
        </div>
        <div class="col-sm-8">
            <h2><strong>Nordic Transport Company</strong></h2>
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
            </h4>

            <!--<button class="btn btn-default btn-lg">Get in Touch</button> col-sm-4, col-sm-8-->
        </div>

    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">

        <div class="col-sm-8">
            <h2><strong>Our Team</strong></h2>
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
            </h4>

        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="../Content/Images/team.png" alt="Our Team">
            </div>
        </div>
    </div>
</div>
